.md-typeset .admonition.custom,
.md-typeset details.custom {
    border-color: grey;
    border-style: none;
}

.details {
    display: inline-block;
    min-width: 115px;
    vertical-align: top;
}

.details-img {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}

.doi {
    color: white;
    font-size: small;
    font-weight: bold;
    font-family: sans-serif;
}

.doi > .title {
    background-color: rgb(100, 100, 100);
    padding: 8px 10px;
}

.doi > .value {
    background-color: darkgrey;
    padding: 8px 10px;
}

.support-item {
    margin-left: 0px !important;
    padding-left: 0px !important;
}

.support-list {
    list-style-type: none !important;
    display: inline-block !important;
    margin: 0px !important;
}

.md-typeset__table {
    min-width: 100%;
}